<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <div><a href="/app/auth-logout">Log Out</a></div>
  <h1>Home</h1>
  <h3><%= user.name %>-<%= user.surname %></h3>

  
</body>
</html>
