<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket DataTable</title>
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"/>
</head>
<body>
    <table id="data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>password</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Include jQuery and DataTables JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>

    <script>
        const ws = new WebSocket('ws://localhost:9090');
        
        $(document).ready(function () {
            // Initialize DataTable
            const dataTable = $('#data-table').DataTable();
            
            // WebSocket event listener
            ws.onmessage = function (event) {
                const data = JSON.parse(event.data);
                // Add new data to DataTable
                dataTable.row.add([data.timestamp, data.value]).draw(false);
            };
        });
    </script>
</body>
</html>
