<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <h1><%= message %></h1>
  <form id="loginForm">
    <div>
      <label>Username</label>
      <input type="email" name="username" id="username" />
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
  <div><a href="/app/auth-register">Sign up</a></div>
</body>
<script>
  $(document).ready(function(){
    $('#loginForm').submit(function(e){
      e.preventDefault()
      $.ajax({
        url:'/app/login',
        type:"post",
        data:{
          "username":$('#username').val(),
          "password":$('#password').val(),
        },
        success:function(response){
          console.log(response)
          location.reload()
        },
        error:function(error){
          console.log(error)
          console.log(error.responseJSON.message)
          location.reload()
        }
      })
    })
  })
</script>
</html>
