<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <h1><%= message %></h1>
  <form id="registrationForm">
    <div>
      <label>Name</label>
      <input type="name" name="name" id="name" />
    </div>
    <div>
      <label>Surname</label>
      <input type="surname" name="surname" id="surname" />
    </div>
    <div>
      <label>Email</label>
      <input type="email" name="email" id="email" />
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
  <div>
    <a href="/app/auth-login">Log in</a>
  </div>
</body>
<script>
  $(document).ready(function(){
    $('#registrationForm').submit(function(e){
      e.preventDefault()
      alert('submission')
      $.ajax({
        url:'/app/register',
        type:"post",
        data:{
          "name":$('#name').val(),
          "surname":$('#surname').val(),
          "username":$('#email').val(),
          "password":$('#password').val(),
        },
        success:function(response){
          console.log(response)
          location.reload()
        },
        error:function(error){
          console.log(error)
          alert(error.responseJSON.message)
          location.reload()
        }
      })
    })
  })
</script>
</html>
